<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div><span style="font-size:2em;font-family:'Global Monospace',Verdana,Candara;font-weight:bold;margin-right:30px;">David's Blog</span>
        @Html.ActionLink("Home", "Index", "Home") ||
        @Html.ActionLink("Add Blog Post", "AddPost", "Home") ||
    </div>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
